body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{

    padding: 20px;
   background-color: darkgoldenrod;
      width: 100%;

    }

    .tabla{
        width: 80%;
        margin: 40px;
    }
.profile{
    float: left;
}